<!DOCTYPE html>

<html lang="en">
    <head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <meta charset="UTF-8" />
    <style>h1,h2,h3,h4,h5,p,div{font-family:Arial;}</style>
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BidDing Web</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/accounts/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
    </ul>
  </div>
</nav>
    {% block details %}{% endblock %}
    </body>
</html>