{% extends "UserPage_base.html" %}
{% block details %}
{% for msg in messages %}
<div class="alert alert-{{msg.tags}}" align="center">
    {{msg}}
</div>
{% endfor %}
{% if username %}
    <div class="alert alert-info" align="center">{{username}}的个人主页</div>
{% endif %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					发布的任务 <small>submit history</small>
				</h1>
			</div>
			{% if submitTask %}
            {% for task in submitTask reversed %}
			<div class="row clearfix">
				<div class="col-md-4 column">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<strong>receiver:</strong>{{task.receiver}}
							</h3>
						</div>
						<div class="panel-body">
							{{task.task|truncatechars:20}}
						</div>
						<div class="panel-footer">
							<strong>status:</strong>
							{% if task.status %}
                            <font color="blue">已处理</font>
							{% else %}
							<font color="red">待接收</font>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-md-4 column">
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					接受的任务 <small>accept history</small>
				</h1>
			</div>
			{% if receiveTask %}
            {% for task in receiveTask reversed %}
			<div class="row clearfix">
				<div class="col-md-4 column">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<strong>pusher:</strong>{{task.receiver}}
							</h3>
						</div>
						<div class="panel-body">
							{{task.task|truncatechars:20}}
						</div>
						<div class="panel-footer">
							<strong>price:</strong>{{task.pay}}<i>¥</i>
						</div>
					</div>
				</div>
				<div class="col-md-4 column">
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}