{% extends "UserPage_base.html" %}
{% block details %}
{% if messages %}
{% for msg in messages %}
<div class="alert alert-{{msg.tags}}" align="center">
    {{msg}}
</div>
{% endfor %}
{% else %}
<div>
<form name="task" action="/submit/" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
        <div class="col-md-4">
        <h3 class="panel-title">任务描述</h3>
        {{newtask.task}}
        <p>任务定价:{{newtask.pay}}</p>
        <p>任务图片:{{newtask.img}}</p>
        <input type="submit" value="提交" name="save" class="btn btn-default" style="margin-left:9px">
        </div>
        <div class="col-md-4">
        </div>
</form>
</div>
{% endif %}
{% endblock %}