{% extends "UserPage_base.html" %}
{% block details %}
{% for msg in messages %}
<div class="alert alert-{{msg.tags}}" align="center">
    {{msg}}
</div>
{% endfor %}
{% if username %}
    <div class="alert alert-info" align="center">{{username}}的个人主页</div>
{% endif %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					发布的任务 <small>submit history</small>
				</h1>
			</div>
			{% if submitTask %}
            {% for task in submitTask reversed %}
			<div class="panel panel-primary" style="width:30%;margin:10px 10px 10px 10px;float:left">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>receiver:</strong>{{task.receiver}}</h3>
        </div>
            <div class="panel-body" >
                <button class="btn btn-small btn-lg" data-toggle="modal" data-target="#myModal{{forloop.counter}}" data-show="TU"
                        style="background-color:#FFFFFF"> {{task.task|truncatechars:20}}</button>
                    <div class="modal fade" id="myModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">{{task.date}}</h4>
                                </div>
                                <div class="modal-body">{{task.task|linebreaksbr}}</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                   </div>
            </div>
        <div class="panel-footer">
           <strong>status:</strong>
							{% if task.status %}
                            <font color="blue">已处理</font>
							{% else %}
							<font color="red">待接收</font>
							{% endif %}
        </div>
    </div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					接受的任务 <small>accept history</small>
				</h1>
			</div>
			{% if receiveTask %}
            {% for task in receiveTask reversed %}
			<div class="panel panel-primary" style="width:30%;margin:10px 10px 10px 10px;float:left">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>pusher:</strong>{{task.pusher}}</h3>
        </div>
            <div class="panel-body" >
                <button class="btn btn-small btn-lg" data-toggle="modal" data-target="#myModal{{forloop.counter}}" data-show="TU"
                        style="background-color:#FFFFFF"> {{task.task|truncatechars:20}}</button>
                    <div class="modal fade" id="myModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">{{task.date}}</h4>
                                </div>
                                <div class="modal-body">{{task.task|linebreaksbr}}</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                   </div>
            </div>
        <div class="panel-footer">
            <strong>price:</strong>{{task.pay}}<i>¥</i>
        </div>
    </div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}